<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marcelo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div class ="home-page">
  <body>
    <h1>Marcelo</h1>
    <p>This is Marcelo's page</p>
    <p>I love my country</p> 
    <img src="/images/Marcelo.jpg" />
    <div class="buttons-align">
    <div><a class = "button" href="/about">About me</a></div>
    <div><a class = "button" href="/works">Works</a></div>
    </div>
  </body>
</div>

</html>