<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <div class = "buttons-align">
      <div>
    <h1>TV</h1>
    <p>I used to comment on TV</p>
    <img src="/images/comment.gif" />
        </div>
        <div>
            <h1>Professor</h1>
            <p>I used to be a professor</p>
            <img class = "prof" src="/images/prof.jpg" />
        </div>
    </div>
    <div></div>
    <div class = "center">
    <a class = "button" href="/home">Back to Home</a></div>
</div>
  </body>
</html>